*.pyc
*.*~
**/.settings
**/.ipynb_checkpoints/**
**/pypics/
Notebooks/ex1.py
Notebooks/N44C.dat
Notebooks/IC2165*
Notebooks/M*_*
Notebooks/*.pdf
Notebooks/temperature*
Notebooks/ISB*
Notebooks/NGC51*
Notebooks/all_lines*
Starlight_data/Base.bc3*
*.txt

Starlight_data/Base.bc03.Padova1994.chab.tar.bz2

Starlight_data/Base.bc03.Padova1994.salp.tar.bz2

Starlight_data/Base.bc03.Padova2000.chab.tar.bz2

Starlight_data/Base.bc03.Padova2000.salp.tar.bz2
