*.pyc
*.*~
**/.settings
**/.ipynb_checkpoints/**
**/pypics/
Notebooks/ex1.py
Notebooks/N44C.dat
Notebooks/IC2165*
Notebooks/M*_*
Notebooks/*.pdf
Notebooks/temperature*
Notebooks/ISB*
Notebooks/NGC51*
Notebooks/all_lines*
Notebooks/data_used.*
*.txt
